@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YClover-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'WantedSans-Regular';
  src: url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
  --button-normal: #5C1DB5;
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-[WantedSans-Regular]
  }

  button {
    @apply px-4 py-2 border-0 bg-[var(--button-normal)] text-white font-bold
  }
}